<%= render 'layouts/navbar' %>
<div class="regiE_body">
    <div class="regiE_edit">
        <h2 id="title-edit">Edit <%= resource_name.to_s.humanize %></h2>

      <div class="regiE_infos">
        <h3 class="regiE_infos">Mes infos</h3>
      </div>
    </div>
    <div class="email-info-container">
      <p><%= current_user.email %></p>
    </div>
      <div class="regiE_infos">
        <h3 class="regiE_infos">Modifier votre mot de passe</h3>
      </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <span class="regiE_txt_input"><%= f.label :'Votre email' %></span><br />
        <div class="regiE_input_check">
          <%= image_tag 'user-edit.png', alt: 'Mastercard', class: 'icon-edit' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-edit" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "regiE_txt_input" %> <i>(leave blank if you don't want to change it)</i><br />
         <div class="regiE_input_check">
          <%= image_tag 'lock-edit.png', alt: 'Mastercard', class: 'icon-edit' %>
          <%= f.password_field :password, autocomplete: "new-password", class: "input-edit" %>
        </div>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "regiE_txt_input" %><br />
          <div class="regiE_input_check">
          <%= image_tag 'lock-edit.png', alt: 'Mastercard', class: 'icon-edit' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-edit" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "regiE_txt_input" %> <i>(we need your current password to confirm your changes)</i><br />
          <div class="regiE_input_check">
          <%= image_tag 'lock-edit.png', alt: 'Mastercard', class: 'icon-edit' %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input-edit" %>
        </div>
      </div>

      <div>
        <%= f.submit "Update", class: "regiE_btn_update" %>
      </div>
    <% end %>
    <div class="h3_cancel">
      <h3>Cancel my account</h3>
    </div>

    <div> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "regiE_btn_cancel" %></div>

    
</div>

<%= render 'layouts/footer' %>