
<div class="grid" id="articles-list">

    <% @articles.each do |article| %>
        <div class = "cardd">
        <div class="article_img">
            <%= button_to article_path(article),class: "btn_article" do %>
            <%= image_tag("imageJumbo.png", alt: "Cat", class: "img_article") %>
            <div class="border_article">
            <p class="article_name"><%= article.name %> <br>
            <strong><%= number_to_currency(article.price, unit: "€ ") %></strong>
                </p>
            </div>
    <% end %>
    </div>
    </div>
<% end %>



<div id="pagination">
<%= paginate articles, remote: true %>
</div>

</div>