<nav>
  <%= image_tag 'logo.png', alt: 'Mon Logo', class: 'logonav' %>
  <div class="containerLink">
    <%= link_to 'Accueil', root_path, class: 'linknav' %>
    <p class="linknav">Catalogue</p>
    <div class="linkuser">
     <% if current_user%>
     <%= image_tag 'profiluser.png', alt: 'profil', class: 'btnnav-icon' %>
     <%= form_with url: destroy_user_session_path, method: :delete, class: 'logout-form' do %>
     <%= button_tag type: 'submit', class: 'btn-logout' do %>
     <%= image_tag 'disconnect.png', alt: 'Déconnexion', class: 'btnnav-icon' %>
     <% end %>
     <% end %>
     <%else%>
     <%= button_to 'Se connecter', new_user_session_path, method: :get, class: 'btn-log' %>
     <% end %>
    </div>
  </div>
  <%= button_to cart_path, method: :get, class: 'btn-panier' do %>
  Panier
  <%= image_tag 'panier.png', alt: 'Panier', class: 'panier-icon' %>
  <% end %>
</nav>